@import url('https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap');

* {
    box-sizing:border-box;
    margin: 0px;
    padding: 0px;
    font-family: Poppins;
}

body {
    width: 100%;
    background-color: #5a4fcf;
}

.container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	grid-gap: 10rem;
} 

.signupimage img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.signup form {
    background: white;
    max-height: 2000px; 
    border-radius: 25px;
    margin: 25% 50px;
    padding: 25px 50px;
    
}

.signup form h1 {
    color: #5a4fcf;
    font-weight: bolder;
    margin: 10px 0px 20px;
    width: 90%;
}

.signup form p {
    color: black;
    text-align: center;
    margin: 10px;
    width: 90%;
}
    
.signup form a{
    text-decoration: underline;
    font-weight:bold;
    color: #5a4fcf;   
    width: 90%; 
}

.signup .inputs {
width: 45%;
display:inline-block;
margin: 2px auto;
}

.signup label {
    color: #5a4fcf;
}

.signup input[type="text"], input[type="email"], input[type="tel"], input[type="password"]{
border: none;
border-bottom: 2px solid #5a4fcf;
display: inline;
outline: none;
padding: 10px 0px 1px;
margin: 10px auto 25px;
width: 90%;
color:white;
font-size: 20px;
}

.signup input:focus {
outline: none;
color: #5a4fcf;
} 

.signup input[type=submit]{
    border: none;
    border-radius: 25px;
    display: block;
    background: #5a4fcf;
    padding: 10px 35px;
    max-width: 90%;
    color: white;
    text-weight: bolder;
    margin: 15px auto 10px;
    }
